.DS_Store
raytracer
test.ppm

simple.ppm
simple_shading.ppm
simple_reflectance.ppm
marbles.ppm
mirror_spheres.ppm

monkey.ppm 
berserker.ppm
killeroo.ppm
low_poly_scene.ppm
horse_and_mug.ppm
dragon_lowres.ppm
bunny.ppm
Car.ppm
Car_front.ppm
cornellbox_front.ppm
cornellbox_inverse.ppm
cornellbox_top.ppm

.nfs0000000008f50724000009b7
